<html>
  <body>
  
  <ul>
  <li>
    <a href="/users">
      All users
    </a>
  </li>
  
  <li>
    <a href="/photos">
      All public photos
    </a>
  </li>

    <li>
      <a href="/user_sign_in">
        Sign in
      </a>
    </li>

    <li>
      <a href="/user_sign_up">
        Sign up
      </a>
      </ul>
    </li>
    
    <h1>List of users</h1>

<table border="1">
<th>
Username
</th>

<th>
Private?
</th>

<th>
<a href= "/users/:username">
</th>
    </body>
    </html>